language: node_js
sudo: true
os: osx

node_js:
  - 10

install:
  - npm i --ignore-scripts
  - npm install -g cmake-js
  - npm install -g pkg
  - cd ./node_modules/node-window-manager && npm i && npm run build

before_script:
#  MacOS 64 bits version
#- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list cmake &>/dev/null || brew install cmake; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list automake &>/dev/null || brew install automake; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list libtool &>/dev/null || brew install libtool; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew list pkg-config &>/dev/null || brew install pkg-config; fi

script:
  # Compiles switch service
  - rm -r ./node_modules/iohook/libuiohook
  - mv ./libuiohook ./node_modules/iohook
  - cd ./node_modules/node-window-manager && npm run rebuild
  - cd ../iohook && chmod +x ./libuiohook/bootstrap.sh && cmake-js compile
  - cd ../../
  - npm run build-darwin

branches:
  only:
    - master
    - dev

deploy:
     provider: releases
     api_key: $GH_TOKEN
     file_glob: true
     file: 
        - ./*_release.zip
     skip_cleanup: true
     tag_name: switch-v0.0.3
     name: switch-v0.0.3